@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  heigth: auto;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background-color: #f2f2f2;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
}

/*header*/
.page-header {
  background-color: #FFFFFF;
  width: 1200px;
}

.navigation-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;

}

.page-container {
  margin-top: -30px;

}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 620px;
  display: flex;

}

.navigation-user {
  list-style: none;
  width: 350px;
  display: flex;
  justify-content: flex-end;

}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 21px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  text-align: center;
  background-color: #FFFFFF;
  padding: 20px 16px;
  margin: 0;
  display: block;
  flex-wrap: wrap;

}

.navigation-link-index {
  font-family: "PT Sans", sans-serif;
  line-height: 21px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  text-align: center;
  padding: 20px 16px;
  flex-wrap: wrap;
  position: relative;
  display: inline-block;
  margin: 0;
}

.navigation-link-index:after {
  content: " ";
  background: #756257;
  width: 65px;
  height: 2px;
  bottom: -5px;
  right: 15px;
  position: absolute;
}

.navigation-link-catalog {
  font-family: "PT Sans", sans-serif;
  line-height: 21px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  text-align: center;
  padding: 20px 16px;
  flex-wrap: wrap;
  padding-left: 20px;
  position: relative;
  display: inline-block;
}

.navigation-link-catalog:after {
  content: " ";
  background: #756257;
  width: 85px;
  height: 2px;
  bottom: -5px;
  right: 15px;
  position: absolute;
}

.logo-header {
  margin-top: -20px;
  position: relative;
}

.hero-image {
  display: block;
}

.navigation-user {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.user-item {
  box-sizing: border-box;
}

.search-link {
  background-image: url(../images/logo-search.svg);
  background-repeat: no-repeat;
  display: block;
  min-width: 44px;
  min-height: 64px;
  background-position: center;
}

.heart-link {
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  display: block;
  min-width: 44px;
  min-height: 64px;
  background-position: center;
  position: relative;

}

.user-item-button {
  margin: 14px 0;

}

.user-link-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  border-color: #756157;
  text-decoration: none;
  padding: 8px 34px;
  border-radius: 4px;
}

.user-link-button:hover,
.user-link-button:focus {
  background-color: #615048;
}

.user-link-button:active {
  background-color: #756157;
}

.heart-number {
  display: flex;
  background-color: #7DB54F;
  border-radius: 10px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 11px;
  left: 20px;
  text-decoration: none;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*main*/
.main-index {
  background-color: #FFFFFF;
}

.main-index {
  color: #242424;
}

.reasons {
  font-family: "PT Sans";
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.hero {
  background-image: url(../images/index-backgroud-white.svg), url(../images/index-background.jpg);
  background-position: left bottom, left top;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-color: #B0C4DE;
  padding: 51px 371px 82px;

}

/*приемущества*/
.advantages {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-first {
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
  width: 1200px;
}

.advantages-item-first {
  text-align: center;
  width: 230px;
  padding: 85px;
}

.advantages-first .advantages-title:after {
  content: " ";
  background: #FFFFFF;
  width: 60px;
  height: 2px;
  bottom: -30px;
  right: 60px;
  position: absolute;
}

.image-house {
  object-fit: cover;
  height: auto;
  max-width: 100%;

}

.image-bridge {
  object-fit: cover;
  height: auto;
  max-width: 100%;

}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;

}

.advantages-item {
  text-align: center;
  width: 230px;
  padding: 113px 85px;
}

.advantages-discription {
  margin-top: 30px;
}

.advantages-item:nth-child(odd) {
  background-color: #83B3D31F;
}

.advantages-item:nth-child(even) {
  background-color: #FFFFFF;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  width: 175px;
}

.advantages-title:after {
  content: " ";
  background: #0000004D;
  width: 60px;
  height: 2px;
  bottom: -30px;
  right: 60px;
  position: absolute;
}

.advantages-item-fifth {
  text-align: center;
  width: 230px;
  padding: 85px;
}

.advantages-fifth {
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
  width: 1200px;
  flex-direction: row-reverse;
}

.advantages-fifth .advantages-title::after {
  content: " ";
  background: #FFFFFF;
  width: 60px;
  height: 2px;
  bottom: -30px;
  right: 60px;
  position: absolute;
}

/*приглашение*/
.invitation {
  background-color: #FFFFFF;
  text-align: center;
}

.argument {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.invitation-discription {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  line-height: 26px;
}

/*сервис*/
.service-list {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
}

.service-item {
  text-align: center;
  width: 230px;
  padding: 112px 85px 81px 85px;

}

.service-item:nth-child(odd) {
  background-color: #83B3D31F;
}

.service-item:nth-child(even) {
  background-color: #FFFFFF;
}

.service-item:nth-of-type(1) {
  background-image: url(../images/logo-home.svg);
  background-repeat: no-repeat;
  background-position: center 81px;
}

.service-item:nth-of-type(2) {
  background-image: url(../images/logo-food.svg);
  background-repeat: no-repeat;
  background-position: center 82px;
}

.service-item:nth-of-type(3) {
  background-image: url(../images/logo-box.svg);
  background-repeat: no-repeat;
  background-position: center 79px;
}

.service-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  padding-top: 30px;
}

.service-discription {
  padding-top: 30px;
}

/*бронирование*/
.booking-container {
  text-align: center;
  margin-bottom: 104px;
  font-size: 22px;
  line-height: 26px;
}

.booking-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 96px;
}

.button-search {
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  display: block;
  width: 376px;
  margin: 0 auto;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 50px;
}

.button-search:hover,
.button-search:focus {
  background-color: #615048;
}

.button-search:active {
  background-color: #756157;
}

/*рассылка*/
.subscribe {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  background-image: url(../images/backgroud-subscribe.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #82B3D3;
  color: #FFFFFF;
  margin-top: 96px;
  line-height: 26px;
  font-size: 22px;

}

.subscribe-special {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  background-color: #FFFFFF;
  margin-top: 96px;
  line-height: 26px;
  font-size: 22px;

}

.email-section-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 96px;
}

.email-section-form {
  width: 684px;
  display: flex;
  margin: 0 auto;
  padding-bottom: 96px;

}

.email-section-label {
  width: 452px;
}

.subscribe-btn {
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 232px;
  border-color: #82B3D3;
  text-transform: uppercase;
  border-style: solid;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;

}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #68A2CA;
}

.subscribe-btn:active {
  background-color: #68A2CA;
  color: #FFFFFF4D;
}

.email-text {
  width: 452px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-style: solid;
  border-color: #F2F2F2;
  background-color: #F2F2F2;
  padding: 14px 20px;
}

.email-text:hover {
  background-color: #E6E6E6;
}

.email-text: placeholder-shown {
  border-color: #83B3D3;
}

/*footer*/
.page-footer {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 1200px;
  padding: 40px 70px 30px;
  margin: 0 auto;
}

.page-footer-container {
  width: 1060px;
  display: flex;
  margin: 0;
  justify-content: space-around;
}

.social-list {
  list-style: none;
  display: flex;
  box-sizing: border-box;
  width: 145px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

/* vk */
.vk-link {
  -webkit-mask-image: url(../images/logo-vk.svg);
  mask-image: url(../images/logo-vk.svg);
  mask-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 40px;
  mask-position: center;
  background-color: #83B3D3;


}

.vk-link:hover {
  background-color: #68A2CA;

}

.vk-link:focus {
  background-color: #68A2CA;
}

.vk-link:active {
  background-color: #68A2CA4D;
}

/* telegram */
.telegram-link {
  -webkit-mask-image: url(../images/logo-telegram.svg);
  mask-image: url(../images/logo-telegram.svg);
  mask-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 40px;
  mask-position: center;
  background-color: #83B3D3;
}

.telegram-link:hover {
  background-color: #68A2CA;

}

.telegram-link:focus {
  background-color: #68A2CA;
}

.telegram-link:active {
  background-color: #68A2CA4D;
}

/* youtube */
.youtube-link {
  -webkit-mask-image: url(../images/logo-youtube.svg);
  mask-image: url(../images/logo-youtube.svg);
  mask-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 40px;
  mask-position: center;
  background-color: #83B3D3;
}

.youtube-link:hover {
  background-color: #68A2CA;

}

.youtube-link:focus {
  background-color: #68A2CA;
}

.youtube-link:active {
  background-color: #68A2CA4D;
}

/* telephone */
.footer-contacts {
  display: block;
  width: 720px;
  text-align: center;
  flex-wrap: wrap;
}

.footer-phone-link {
  display: block;
  width: 331px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-phone-link:hover {
  color: #756157;
}

.footer-phone-link:focus {
  color: #756157;
}

.footer-phone-link:active {
  color: #7561574D;
}

/* html-logo */
.footer-logo {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer-logo-html {
  -webkit-mask-image: url(../images/logohtmlacademy.svg);
  mask-image: url(../images/logohtmlacademy.svg);
  mask-repeat: no-repeat;
  display: block;
  background-color: #000000;
  box-sizing: border-box;
  width: 115px;
  height: 33px;
}

.footer-logo-html:hover,
.footer-logo-html:focus {
  background-color: #756157;
}

.footer-logo-html:active {
  background-color: #7561574D;
}

/*catalog*/
.main-inner {
  background-color: #FFFFFF;
  width: 1200px;
}

.inner-header {
  width: 1060px;
  margin: 0 auto;
}

.filter-inner-section {
  margin-left: 80px;
  margin-right: 70px;
}

.section-inner {
  background-image: url(../images/catalog/background-catalog.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #82B3D3;
  color: #FFFFFF;
  margin-top: -65px;
  background-size: cover;
}

.main-inner-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin-left: 85px;
  margin-top: 35px;
  padding-top: 30px;
}

.inner-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: 0px;
}

.inner-header {
  margin-left: 45px;
  margin-top: -50px;
  margin-bottom: 45px;
}

.inner-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF;
  padding-top: 0;
  margin-left: 10px;
  cursor: pointer;
}

.inner-link:hover {
  color: #FFFFFF99;
}

.inner-link:focus {
  color: #FFFFFF;
}

.inner-link:active {
  color: #FFFFFF4D;
}

.inner-link-home {
  background-image: url(../images/catalog/filter_logo_home.svg);
  background-repeat: no-repeat;
  display: block;
  width: 13px;
  height: 15px;
  padding: 0px, 0px, 2px, 0px;
  margin-top: 4px;
}

.inner-item-arrow {
  background-image: url(../images/catalog/filter_arrow.svg);
  background-repeat: no-repeat;
  display: block;
  width: 8px;
  height: 19px;
  padding: 5px, 7px, 5px, 7px;
  margin-top: 5px;
  margin-left: 10px;
}

/*стилизация фильта каталога*/
.catalog-filter-group {
  width: 150px;
  padding: 0px;
  border-style: none;
  margin-bottom: 73px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  display: flex;
  margin: 0 auto;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-item {
  margin-bottom: 16px;
  padding: 0;

}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.filter-price {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-price {
  border-style: none;
  width: 288px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2px;


}

.price {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  padding: 12px 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #F2F2F2;
  box-sizing: border-box;
  width: 143px;
  position: relative;
}
.price-text{
  position: relative;
  color:#000000;
  display: block;
  box-sizing: border-box;
  text-align: right;
  padding-right: 20px;

}
.price.max {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.range-price {
  margin: 0;
  padding: 0;
}

.control {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF;
  margin: 0;
  padding-left: 36px;
  position: relative;
}
.control:hover,
.control:active{
  opacity: 0.3;
}
.control-label {
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  display: block;
  background-color: #f2f2f2;
}
.control-mark:focus{
  border: 3px solid #83B3D3;
}
.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  height: 1.5px;
  background-color: #3F5E72;
  content: "";
}

.control-input {
  appearance: none;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(48deg);
  top: 10.5px;
  left: 2.5px;
  width: 7px;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-48deg);
  top: 9px;
  left: 5.7px;
  width: 11.5px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.button-price {
  width: 191px;
  display: flex;
  flex-direction: column;
  margin-top: 56px;

}

.range-scale {
  width: 287px;
  position: relative;
  background-color: #756257;
  line-height: 1px;
  height: 4px;
}

.range-bar {
  position: absolute;
  line-height: 1px;
  background-color: #FFFFFF;
  height: 4px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  left: 207px;
}

.button-reset {
  margin-top: 32px;
  border-radius: 4px;
  padding: 8px 57px;
  text-transform: uppercase;
}

.button-reset:hover {
  color: #FFFFFF4D;
}

.button-reset:focus {
  color: #FFFFFF;
  border: 3px solid #83B3D3;
}

.button-apply {
  border-radius: 4px;
  padding: 8px 57px;
  text-transform: uppercase;
}

.button-apply:hover,
.button-apply:focus {
  background-color: #68A2CA;
}

.button-apply:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.catalog-button-list {
  list-style: none;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 32px;
  padding: 0;
}

/*каталог*/
.catalog {
  color: #000000;
  background-color: #FFFFFF;

}

.hotels-catalog {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  margin-left: 85px;
}

.select-control {
  width: 292px;
  height: 49px;
  padding: 14px 20px;
  border-radius: 2px;
}

.select {
  width: 522px;
  display: flex;
  margin-top: 50px;

}

.hotel-card {
  width: 1060px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 80px;

}

.hotel-card-link {
  outline: 1px solid #f2f2f2;
  padding: 20px;
  border-radius: 4px;

}

.hotels-catalog-title {
  text-transform: uppercase;
  margin-top: 56px;
}

.catalog-button-list {
  width: 168px;
  display: flex;
  margin-top: 0px;
  gap: 8px;

}

.catalog-button-tile {
  background-image: url(../images/catalog/logo-view.svg);
  background-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  background-position: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.catalog-button-tile:hover {
  border: 2px solid #000000;
}

.catalog-button-tile:focus {
  border: 2px solid #68A2CA;
}

.catalog-button-tile:active {
  border: 2px solid #000000;
}

.button-card {
  background-image: url(../images/catalog/logo-card.svg);
  background-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  background-position: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-card:hover {
  border: 2px solid #000000;
}

.button-card:focus {
  border: 2px solid #68A2CA;
}

.button-card:active {
  border: 2px solid #000000;
}

.button-list {
  background-image: url(../images/catalog/logo-ul.svg);
  background-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  background-position: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-list:hover {
  border: 2px solid #000000;
}

.button-list:focus {
  border: 2px solid #68A2CA;
}

.button-list:active {
  border: 2px solid #000000;
}

.button-apply {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-style: solid;
  border-color: #82B3D3;
}

.button-reset {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
  border-style: solid;
  border-color: transparent;
}

/*стилизация карт отелей*/
.hotels-catalog-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.select-control {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.hotel-card {
  list-style: none;
  margin-top: 40px;
  margin-left: 40px;
}

.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotel-card-text {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.raiting {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.hotel-rating {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 9px 26px 8px 26px;
  line-height: 20px;

}

.card-buttons {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-card-discription {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 26px;
}

.hotel-card-discription:hover,
.hotel-card-discription:focus {
  background-color: #615048;
}

.hotel-card-discription:active {
  background-color: #756157;
  color: #FFFFFF4D
}

.hotel-card-button-favorites {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 8px 20px;
  border-radius: 4px;
  border-color: #82B3D3;
  border-style: solid;
}

.hotel-card-button-favorites:hover,
.hotel-card-button-favorites:focus {
  background-color: #68A2CA;
}

.hotel-card-button-favorites:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.hotel-card-button-favorite-active {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #7DB54F;
  padding: 8px 18px;
  border-radius: 4px;
  border-color: #7DB54F;
  border-style: solid;
}

.hotel-card-button-favorite-active:hover,
.hotel-card-button-favorite-active:focus {
  background-color: #6C9E42;
}

.hotel-card-button-favorite-active:active {
  background-color: #7DB54F;
  color: #FFFFFF4D;
}

.hotel-stars-four {
  background-image: url(../images/catalog/star-four.svg);
  background-repeat: no-repeat;
  display: block;
  width: 140px;
  height: 37px;
}

.hotel-stars-three {
  background-image: url(../images/catalog/star-four.svg);
  background-repeat: no-repeat;
  display: block;
  width: 70px;
  height: 37px;
}

.hotel-stars-two {
  background-image: url(../images/catalog/star-four.svg);
  background-repeat: no-repeat;
  display: block;
  width: 45px;
  height: 37px;
}

/*пагинация*/
.pagination {
  width: 1060px;
  padding-left: 40px;
  position: relative;
  display: inline-block;


}

.pagination::before {
  content: " ";
  background: #E6E6E6;
  width: 1060px;
  height: 1px;
  top: -30px;
  bottom: 40px;
  position: absolute;
  margin-left: 50px;


}

.pagination-list {
  width: 400px;
  display: flex;
  list-style: none;
  margin-top: 60px;
  gap: 8px;
}

.pagination-item {
  width: 60px;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 14px 23px 14px 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.pagination-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 17px;
}

.pagination-link-active {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  background-color: #F2F2F2;
  padding: 14px 23px 14px 23px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 4px;
}

.pagination {
  list-style: none;
}

/* модалтное окно */
.model-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
   /* display: none; */
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #FFFFFF;
}

.modal-auth {
  width: 577px;
  border-radius: 30px;
}

.modal-close {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #F2F2F2;
  position: absolute;
  top: 64px;
  right: 52px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 19px;
  right: 19px;
  width: 14px;
  height: 14px;
  border: none;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 64px;
}

.form-label {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.field {
  width: 440px;
  margin-top: 23px;
  padding: 12px 20px;
  font: inherit;
  font-weight: 700;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background-image: url(../images/logo-calendar.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.field::placeholder {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color:#000000

}

.appointment-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #FF5757;
  margin: 4px 120px;
  padding: 0px 20px;
}

.appointment-info-number {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  margin: 4px 69px 0px 119px;
  padding: 0px 20px;
}
.field-group{
  display: flex;
  width: 247px;
  padding: 0;
  margin: 0;
}
.button-minus{
  width: 40px;
  height: 48px;
  padding: 23px 13px;
  border:none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-left: 46px;
}
.field-persons{
  background-color:#F2F2F2;
  box-sizing: border-box;
  padding: 14px 10px;
  width: 31px;
  left:65px;
  border:none;
}
.button-plus{
  width: 40px;
  height: 48px;
  padding: 17px 13px;
  border:none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.field-persons::placeholder{
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color:#000000
}
