@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: auto;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background-color: #f2f2f2;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
}
/* Стилизация главной страницы */
/*header*/
.page-container {
  box-shadow: 0px 0px 15px 0px #00000033;
}
.page-header {
  background-color: #ffffff;
  width: 1200px;
}
.navigation-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
}
/* логотип города Седона */
.logo-container {
  display: block;
}
.logo-header {
  position: relative;
  margin-right: 28px;
}
.logo-header:hover,
.logo-header:focus {
  opacity: 0.6;
}
.logo-header:active {
  opacity: 0.3;
}
/* navigation-list index*/
.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 620px;
  display: flex;
  flex-wrap: wrap;
}
.navigation-link {
  display: flex;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  padding: 20px 16px;
  margin-left: 0px;
  flex-wrap: wrap;
}
.navigation-link:hover,
.navigation-link:focus {
  opacity: 0.6;
}
.navigation-link:active {
  opacity: 0.3;
}
.navigation-link-index {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  text-align: center;
  padding: 20px 16px;
  flex-wrap: wrap;
  position: relative;
  display: block;
}
.navigation-link-index:hover,
.navigation-link-index:focus {
  opacity: 0.6;
}
.navigation-link-index:active {
  opacity: 0.3;
}
.navigation-link-index:after {
  content: " ";
  background: #756257;
  width: 67px;
  height: 2px;
  bottom: 0px;
  right: 15px;
  position: absolute;
}
.navigation-item {
  margin: 0;
  padding: 0;
}
/* стилизация навигации страницы каталога */
.navigation-link-catalog {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  padding: 20px 16px;
  flex-wrap: wrap;
  position: relative;
  display: block;
}
.navigation-link-catalog:after {
  content: " ";
  background: #756257;
  width: 90px;
  height: 2px;
  bottom: 0px;
  right: 17px;
  position: absolute;
}
.navigation-link-catalog:hover,
.navigation-link-catalog:focus {
  opacity: 0.6;
}
.navigation-link-catalog:active {
  opacity: 0.3;
}

/* стилизация правой стороны навигции */
.navigation-user {
  list-style: none;
  width: 350px;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.user-item {
  box-sizing: border-box;
}
/* стилизация логотип поиска */
.search-link {
  background-image: url(../images/logo-search.svg);
  background-repeat: no-repeat;
  display: block;
  min-width: 44px;
  min-height: 64px;
  background-position: center;
}
.search-link:hover,
.search-link:focus {
  opacity: 0.6;
}
.search-link:active {
  opacity: 0.3;
}
/* стилизация логотип в избранном  */
.heart-link {
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  display: block;
  min-width: 44px;
  min-height: 64px;
  background-position: center;
  position: relative;
}
.heart-link:hover,
.heart-link:focus {
  opacity: 0.6;
}
.heart-link:active {
  opacity: 0.3;
}
.heart-number {
  display: flex;
  background-color: #7db54f;
  border-radius: 10px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 11px;
  left: 20px;
  text-decoration: none;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}
/* стилизация кнопки хочу сюда */
.user-link-button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-color: #756157;
  text-decoration: none;
  padding: 8px 34px;
  border-radius: 4px;
  margin-top: 14px;
  margin-left: 20px;
}
.user-link-button:hover,
.user-link-button:focus {
  background-color: #615048;
}
.user-link-button:active {
  background-color: #756157;
}
/*прописывает свойство visually-hidden  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*main*/
.main-index {
  background-color: #ffffff;
  color: #242424;
}
.hero {
  background-image: url(../images/index-backgroud-white.svg),
    url(../images/index-background.jpg);
  background-position: center bottom, left top;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-color: #82b3d3;
  padding: 51px 371px 82px;
}
.hero-image {
  display: block;
}
/* подзаголовок для приемуществ */
.subtitle {
  text-align: center;
}
.slogan {
  width: 620px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 69px 290px 25px 290px;
}
.text {
  width: 652px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 25px 274px 90px 274px;
}
/*приемущества*/
.advantages {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.advantages-first {
  background-color: #82b3d3;
  color: #ffffff;
  display: flex;
  width: 1200px;
}
.advantages-item-first {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 102px 85px;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 62px;
}
.advantages-first .advantages-title:after {
  content: " ";
  background: #ffffff;
  width: 60px;
  height: 2px;
  bottom: -30px;
  right: 60px;
  position: absolute;
  opacity: 0.3;
}
.image-house {
  object-fit: cover;
  height: auto;
  max-width: 100%;
}
.image-bridge {
  object-fit: cover;
  height: auto;
  max-width: 100%;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  padding: 112.5px 85px;
  gap: 62px;
}
.advantages-description {
  margin: 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
.advantages-item:nth-child(odd) {
  background-color: #83b3d31f;
}
.advantages-item:nth-child(even) {
  background-color: #83b3d333;
}
.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  width: 175px;
  margin: 0;
  padding: 0;
}
.advantages-title:after {
  content: " ";
  background: #0000004d;
  width: 60px;
  height: 2px;
  bottom: -32px;
  right: 57px;
  position: absolute;
  opacity: 0.6;
}
.advantages-item-fifth {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 102px 85px;
  align-items: center;
  gap: 62px;
}
.advantages-fifth {
  background-color: #82b3d3;
  color: #ffffff;
  display: flex;
  width: 1200px;
  flex-direction: row-reverse;
}
.advantages-fifth .advantages-title::after {
  content: " ";
  background: #ffffff;
  width: 60px;
  height: 2px;
  bottom: -32px;
  right: 58px;
  position: absolute;
  opacity: 0.3;
}
/*приглашение*/
.invitation {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  text-align: center;
  padding: 64px 0px;
  gap: 20px;
  align-items: center;
}
.invitation-slogan {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin: 0;
  width: 505px;
}
.invitation-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}
/*сервис*/
.service-list {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
}
.service-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 230px;
  padding: 183px 85px 81px 85px;
  gap: 30px;
  flex-wrap: wrap;
}
.service-item:nth-child(odd) {
  background-color: #83b3d31f;
}
.service-item:nth-child(even) {
  background-color: #ffffff;
}
.service-item:nth-of-type(1) {
  background-image: url(../images/logo-home.svg);
  background-repeat: no-repeat;
  background-position: center 81px;
}
.service-item:nth-of-type(2) {
  background-image: url(../images/logo-food.svg);
  background-repeat: no-repeat;
  background-position: center 82px;
}
.service-item:nth-of-type(3) {
  background-image: url(../images/logo-box.svg);
  background-repeat: no-repeat;
  background-position: center 79px;
}
.service-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}
.service-description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
/*бронирование*/
.booking-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 96px 304px;
  gap: 20px;
}
.booking-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}
.booking-description {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}
.button-search {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  display: block;
  width: 376px;
  margin: 0;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 34px;
  margin-left: 109px;
}
.button-search:hover,
.button-search:focus {
  background-color: #615048;
}

.button-search:active {
  background-color: #756157;
}
/*рассылка*/
.subscribe {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-family: "PT Sans", sans-serif;
  background-image: url(../images/backgroud-subscribe.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #82b3d3;
  color: #ffffff;
  line-height: 26px;
  font-size: 22px;
  padding: 96px 258px 104px 258px;
  background-size: cover;
  gap: 20px;
}
.email-section-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}
.email-section-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
}
.email-section-form {
  width: 684px;
  display: flex;
  margin-top: 35px;
  min-height: 52px;
}
.subscribe-btn {
  box-sizing: border-box;
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  width: 236px;
  border-color: #82b3d3;
  text-transform: uppercase;
  border-style: solid;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #68a2ca;
}
.subscribe-btn:active {
  background-color: #68a2ca;
  color: #ffffff4d;
}
.email-text::placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.email-text {
  box-sizing: border-box;
  width: 462px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-style: solid;
  border-color: #f2f2f2;
  background-color: #f2f2f2;
  padding: 13px 20px 8px 18px;
}
.email-text:hover {
  background-color: #e6e6e6;
}
.email-text:focus {
  outline: 1px solid #68a2ca;
}
/* стилизация секции subscribe-special для страницы каталога */
.subscribe-special {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  line-height: 26px;
  font-size: 22px;
  padding: 80px 258px 104px 258px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
  background-size: cover;
  gap: 20px;
  margin: 0;
}
/*footer*/
.page-footer {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 43px 70px 40px 70px;
  background-color: #ffffff;
}
.social-list {
  list-style: none;
  display: flex;
  box-sizing: border-box;
  width: 145px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
/* vk */
.vk-link {
  -webkit-mask-image: url(../images/logo-vk.svg);
  mask-image: url(../images/logo-vk.svg);
  mask-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 40px;
  mask-position: center;
  background-color: #83b3d3;
}
.vk-link:hover {
  background-color: #68a2ca;
}
.vk-link:focus {
  background-color: #68a2ca;
}
.vk-link:active {
  background-color: #68a2ca4d;
}
/* telegram */
.telegram-link {
  -webkit-mask-image: url(../images/logo-telegram.svg);
  mask-image: url(../images/logo-telegram.svg);
  mask-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 40px;
  mask-position: center;
  background-color: #83b3d3;
}
.telegram-link:hover {
  background-color: #68a2ca;
}
.telegram-link:focus {
  background-color: #68a2ca;
}
.telegram-link:active {
  background-color: #68a2ca4d;
}
/* youtube */
.youtube-link {
  -webkit-mask-image: url(../images/logo-youtube.svg);
  mask-image: url(../images/logo-youtube.svg);
  mask-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 40px;
  mask-position: center;
  background-color: #83b3d3;
}
.youtube-link:hover {
  background-color: #68a2ca;
}
.youtube-link:focus {
  background-color: #68a2ca;
}
.youtube-link:active {
  background-color: #68a2ca4d;
}
/* telephone */
.footer-contacts {
  display: block;
  width: 720px;
  text-align: center;
  flex-wrap: wrap;
  margin: 0;
}
.footer-phone-link {
  display: flex;
  width: 331px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  padding-top: 2px;
}
.footer-phone-link:hover {
  color: #756157;
}
.footer-phone-link:focus {
  color: #756157;
}
.footer-phone-link:active {
  opacity: 0.3;
}
/* html-logo */
.footer-logo {
  box-sizing: border-box;
  margin: 0;
  padding-top: 5px;
}
.footer-logo-html {
  -webkit-mask-image: url(../images/logo-html-academy.svg);
  mask-image: url(../images/logo-html-academy.svg);
  mask-repeat: no-repeat;
  display: block;
  background-color: #000000;
  box-sizing: border-box;
  width: 115px;
  height: 33px;
}
.footer-logo-html:hover,
.footer-logo-html:focus {
  background-color: #756157;
}
.footer-logo-html:active {
  opacity: 0.3;
}
/*стилизация страницы с каталогом*/
/* стилизация main-inner */
.main-inner {
  background-color: #ffffff;
  width: 1200px;
}
.section-inner {
  background-image: url(../images/catalog/background-catalog.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #82b3d3;
  color: #ffffff;
  background-size: cover;
  padding: 35px 70px 50px 70px;
  margin-top: -10px;
}
.main-inner-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
}
.inner-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-top: 6px;
  gap: 10px;
}
.inner-item-arrow {
  background-image: url(../images/catalog/filter-arrow.svg);
  background-repeat: no-repeat;
  display: block;
  width: 8px;
  height: 19px;
  background-position: center;
  padding-top: 2px;
  margin: 0;
}
.inner-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  cursor: pointer;
  margin: 0;
}
.inner-link:hover {
  color: #ffffff99;
}
.inner-link:focus {
  color: #ffffff;
}
.inner-link:active {
  color: #ffffff4d;
}
.inner-link-home {
  background-image: url(../images/catalog/filter-logo-home.svg);
  background-repeat: no-repeat;
  display: block;
  width: 13px;
  height: 15px;
  padding: 0px, 0px, 2px, 0px;
  margin-top: 4px;
}
.inner-link-home:hover,
.inner-link-home:focus {
  opacity: 0.6;
}
.inner-link-home:active {
  opacity: 0.3;
}
/* стилизация фильтра */
.catalog-filter {
  display: flex;
  width: 1060px;
  margin-top: 40px;
}
.catalog-filter-group {
  width: 150px;
  padding: 0px;
  margin: 0px 70px 0px 0px;
  border-style: none;
}
.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}
.catalog-filter-item {
  margin-top: 15px;
  padding: 0;
}
/* стилизация label и input  */
.control {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  padding: 0;
  position: relative;
  display: flex;
}
.control:hover,
.control:active {
  opacity: 0.3;
}
.control-input {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  margin: 0;
  margin-top: 3px;
}
.control-input:focus {
  outline: 2px solid #68a2ca;
}
/* рисуем и позиционируем checkbox */
.control-input[type="checkbox"]:checked::before,
.control-input[type="checkbox"]:checked::after {
  position: absolute;
  height: 1.5px;
  background-color: #3f5e72;
  content: "";
  position: absolute;
  border-radius: 4px;
  display: block;
}
.control-input[type="checkbox"]:checked::before {
  transform: rotate(48deg);
  top: 14px;
  left: 3px;
  width: 7px;
}
.control-input[type="checkbox"]:checked::after {
  transform: rotate(-48deg);
  top: 12.5px;
  left: 6px;
  width: 11.5px;
}
/* рисуем и позиционируем radio */
.control-input[type="radio"] {
  border-radius: 50%;
}
.control-input[type="radio"]:checked::before {
  position: absolute;
  top: 8px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}
.control-label {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  padding-top: 3px;
  padding-left: 16px;
}
/* стилизация настройки диапазона цен */
.catalog-filter-price {
  border-style: none;
  width: 288px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2px;
  margin-left: 57px;
}
.range-price {
  margin-top: 26px;
  padding: 0;
  position: relative;
}
.price {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  padding: 12px 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  width: 143px;
  border: none;
}
.price:focus {
  outline: 2px solid #68a2ca;
}
.price-text {
  position: absolute;
  color: #000000;
  display: block;
  box-sizing: border-box;
  text-align: right;
  padding-right: 20px;
  top: 12px;
  left: 106px;
  opacity: 0.3;
}
.price.max {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  position: relative;
}
/* стилизация и позиционирование "ползунка"  */
.range {
  margin-top: 30px;
}
.range-scale {
  width: 287px;
  position: relative;
  background-color: #808080;
  line-height: 1px;
  height: 4px;
  border: none;
}
.range-bar {
  position: absolute;
  line-height: 1px;
  background-color: #ffffff;
  height: 4px;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.range-toggle:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.range-toggle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.4);
}
.toggle-min {
  top: -8px;
}
.toggle-max {
  top: -8px;
  left: 207px;
}
/* стилизция кнопок настройки диапазона цен */
.button-price {
  padding: 0;
  margin-top: 55px;
  margin-left: 55px;
  width: 191px;
  display: flex;
  flex-direction: column;
}
.button-apply {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  border-style: solid;
  border-color: #82b3d3;
  border-radius: 4px;
  padding: 8px 50px;
  text-transform: uppercase;
  margin: 0;
}
.button-apply:hover,
.button-apply:focus {
  background-color: #68a2ca;
}
.button-apply:active {
  background-color: #82b3d3;
  color: #ffffff4d;
}
.button-reset {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: none;
  margin-top: 32px;
  border-radius: 4px;
  padding: 8px 57px;
  text-transform: uppercase;
}
.button-reset:hover {
  color: #ffffff4d;
}
.button-reset:focus {
  color: #ffffff;
  outline: 3px solid #83b3d3;
}
.button-reset:active {
  outline: 3px solid #83b3d3;
}
/*стилизация каталога отелей*/
.catalog {
  color: #000000;
  background-color: #ffffff;
  padding: 50px 70px 60px 70px;
}
.hotels-catalog {
  width: 1060px;
  display: flex;
  justify-content: space-between;
}
.hotels-catalog-title {
  text-transform: uppercase;
  margin-top: 5px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.select {
  width: 522px;
  display: flex;
  justify-content: space-between;
}
.select-control {
  width: 292px;
  height: 50px;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  border: 2px solid #e5e5e5;
}
.select-control:hover,
.select-control:focus {
  border: 2px solid #68a2ca;
}
/* стилизация отображения отелей */
.catalog-button-list {
  width: 168px;
  display: flex;
  margin-top: 0px;
  gap: 8px;
  justify-content: end;
  list-style: none;
}
.catalog-button-tile {
  background-image: url(../images/catalog/logo-view.svg);
  background-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}
.catalog-button-tile:hover {
  border: 2px solid #000000;
}
.catalog-button-tile:focus {
  border: 2px solid #68a2ca;
}
.catalog-button-tile:active {
  border: 2px solid #000000;
}
.button-card {
  background-image: url(../images/catalog/logo-card.svg);
  background-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}
.button-card:hover {
  border: 2px solid #000000;
}
.button-card:focus {
  border: 2px solid #68a2ca;
}
.button-card:active {
  border: 2px solid #000000;
}
.button-list {
  background-image: url(../images/catalog/logo-ul.svg);
  background-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  background-position: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}
.button-list:hover {
  border: 2px solid #000000;
}
.button-list:focus {
  border: 2px solid #68a2ca;
}
.button-list:active {
  border: 2px solid #000000;
}
/* стилизация карт отелей */
.hotels {
  padding: 0;
  margin-top: 25px;
}
.hotel-card {
  width: 1060px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.hotel-card-link {
  outline: 1px solid #f2f2f2;
  padding: 20px 0 20px 20px;
  border-radius: 4px;
  margin: 0;
}
.hotel-card-type {
  margin: 0;
}
.hotel-card-price {
  margin: 0;
}
.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 10px 0px 0px 0px;
}
.hotel-card-text {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 16px 0px 0px 0px;
  padding: 0;
}
/* стилизация кнопок карт отелей */
.card-buttons {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 16px 0px 0px 0px;
}
/* кнопка подробнее */
.hotel-card-description {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 26px;
}
.hotel-card-description:hover,
.hotel-card-description:focus {
  background-color: #615048;
}
.hotel-card-description:active {
  background-color: #756157;
  color: #ffffff4d;
}
/* кнопка в избранное */
.hotel-card-button-favorites {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 8px 20px;
  border-radius: 4px;
  border-color: #82b3d3;
  border-style: solid;
}
.hotel-card-button-favorites:hover,
.hotel-card-button-favorites:focus {
  background-color: #68a2ca;
}
.hotel-card-button-favorites:active {
  background-color: #82b3d3;
  color: #ffffff4d;
}
/* кнопка в избранном */
.hotel-card-button-favorite-active {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  width: 140px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #7db54f;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  border-color: #7db54f;
  border-style: solid;
}
.hotel-card-button-favorite-active:hover,
.hotel-card-button-favorite-active:focus {
  background-color: #6c9e42;
}
.hotel-card-button-favorite-active:active {
  background-color: #7db54f;
  color: #ffffff4d;
}
/* рейтинг */
.raiting {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.hotel-raiting {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #e6e6e6;
  border-radius: 4px;
  padding: 9px 26px 8px 26px;
  line-height: 20px;
  margin: 16px 0px 0px 0px;
}
.hotel-stars-four {
  background-image: url(../images/catalog/star-four.svg);
  background-repeat: no-repeat;
  display: block;
  width: 140px;
  height: 37px;
  margin: 16px 0px 0px 0px;
}
.hotel-stars-three {
  background-image: url(../images/catalog/star-four.svg);
  background-repeat: no-repeat;
  display: block;
  width: 70px;
  height: 37px;
  margin: 16px 0px 0px 0px;
}
.hotel-stars-two {
  background-image: url(../images/catalog/star-four.svg);
  background-repeat: no-repeat;
  display: block;
  width: 45px;
  height: 37px;
  margin: 16px 0px 0px 0px;
}
/*пагинация*/
.pagination {
  width: 1060px;
  position: relative;
  display: inline-block;
  margin-top: 56px;
  list-style: none;
}
.pagination::before {
  content: " ";
  background: #e6e6e6;
  width: 1060px;
  height: 1px;
  top: -30px;
  bottom: 40px;
  position: absolute;
}
.pagination-list {
  width: 400px;
  display: flex;
  list-style: none;
  gap: 8px;
  padding: 0;
}
.pagination-item {
  width: 60px;
}
.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 12px 23px 12px 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 4px;
  text-decoration: none;
}
.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}
.pagination-link:active {
  background-color: #82b3d3;
  color: #ffffff4d;
}
.pagination-link-active {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  background-color: #f2f2f2;
  padding: 12px 23px 12px 23px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 4px;
}
.pagination-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
}
/* модалтное окно */
.model-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);

}
.modal-container-close {
  display: none;
}
.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0px 25px 50px 0px #00000026;
}

.modal-auth {
  width: 577px;
  border-radius: 30px;
}
.modal-close-button:hover {
  background-color: #e6e6e6;
}
.modal-close-button:focus {
  border: 3px solid #83b3d3;
}
.modal-close-button:active {
  opacity: 0.3;
}
.modal-close-button {
  position: absolute;
  padding: 0;
  top: 63px;
  right: 52px;
  width: 52px;
  height: 52px;
  border-radius: 50px;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
}
.modal-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 64px;
  width: 535px;
}
.appointment {
  display: flex;
  align-items: center;
  margin-top: 23px;
  flex-wrap: wrap;
}
.appointment.time {
  position: relative;
}
.appointment.date {
  position: relative;
}
.form-title {
  width: 119px;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  flex-wrap: wrap;
  margin: 0px 17px 0px 0px;
}
::placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
.field {
  box-sizing: border-box;
  width: 440px;
  padding: 12px 40px 12px 20px;
  font: inherit;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}
.field:hover {
  opacity: 0.6;
  outline: none;
}
.field:focus {
  outline: 3px solid #83b3d3;
}
.calendar {
  display: block;
  height: 20px;
  width: 20px;
  border: none;
  margin: 0;
  padding: 0;
  background-image: url(../images/modal/logo-calendar.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
  cursor: pointer;
  position: absolute;
}
.calendar.time {
  position: absolute;
  right: 20px;
  top: 15px;
}
.calendar.date {
  position: absolute;
  right: 20px;
  top: 15px;
}
.appointment-info {
  display: inline-block;
  width: 280px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #ff5757;
  margin: 4px 137px;
  padding: 0px 0px 0px 20px;
  flex-wrap: wrap;
}
.appointment-info-number {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  margin: 4px 69px 0px 137px;
  padding: 0px 20px;
}
.form-persons {
  display: flex;
  justify-content: space-between;
  width: 577px;
  margin-top: 23px;
}
/* взрослые */
.form-group {
  width: 577px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 23px;
}
.form-persons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 247px;
  padding: 0;
  margin: 0;
  border: none;
  text-align: center;
}
.form-persons.children {
  width: 242px;
}
.button-minus {
  display: block;
  width: 35px;
  height: 45px;
  border: none;
  background-image: url(../images/modal/minus.svg);
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  z-index: 1;
  position: absolute;
}
.button-minus.adult {
  left: 210px;
}
.button-minus:hover {
  opacity: 1;
}
.button-minus:focus {
  outline: 3px solid #82b3d3;
  border-radius: 4px;
  opacity: 1;
}
.button-minus:active {
  opacity: 0.3;
}
.field-persons {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 5px;
  margin: 0;
  width: 110px;
  height: 48px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  -webkit-appearance: none;
  position: relative;
  padding-top: 5px;
  padding-left: 49px;
  padding-right: 35px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.field-persons[type="number"]::-webkit-inner-spin-button,
.field-persons[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.field-persons:hover,
.field-persons:focus {
  outline: none;
}
.button-plus {
  display: block;
  width: 35px;
  height: 45px;
  border: none;
  background-image: url(../images/modal/plus.svg);
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  position: absolute;
}
.button-plus.adult {
  left: 280px;
}
.button-plus:hover {
  opacity: 1;
}
.button-plus:focus {
  outline: 3px solid #82b3d3;
  border-radius: 4px;
  opacity: 1;
}
.button-plus:active {
  opacity: 0.3;
}
/* дети */
.field-persons.children {
  position: relative;
}
.button-minus.children {
  right: 142px;
}
.button-plus.children {
  right: 72px;
}
.tooltip {
  position: absolute;
  margin-top: 24px;
  margin-left: 22px;
  width: 25px;
  height: 25px;
}
.tooltip-toggle {
  border: none;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 0;
}
.form-label.icon::after {
  position: relative;
}
.tooltip-icon {
  box-sizing: border-box;
  width: 27px;
  height: 25px;
  background-color: #83b3d3;
  border-radius: 50px;
  margin: 0;
  position: absolute;
  padding: 3px;
  top: -11px;
  left: 36px;
}
.tooltip-text::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #333333;
  position: absolute;
  left: 106px;
  top: -10px;
}
.tooltip-text {
  font-family: inherit;
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 20px 18px;
  border-radius: 10px;
  display: block;
  width: 216px;
  position: absolute;
  left: 55px;
  top: 30px;
  z-index: 1;
  transform: translateX(-50%);
  display: none;
  text-align: left;
}
.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
.button.appointment-submit {
  box-sizing: border-box;
  width: 577px;
  background-color: #83b3d3;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  padding: 18px;
  margin-top: 48px;
}
.button.appointment-submit:hover,
.button.appointment-submit:focus {
  background-color: #68a2ca;
}
.button.appointment-submit:active {
  background-color: #68a2ca;
  color: #ffffff4d;
}
