@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  heigth: auto;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #242424;
  background-color: #f2f2f2;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
}
/*header*/
.page-header {
  background-color: #FFFFFF;
  width: 1200px;
}
.navigation-container{
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;

}
.page-container{
  margin-top: -30px;

}
.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 620px;
  display: flex;

}
.navigation-user{
  list-style: none;
  width: 350px;
  display: flex;
  justify-content: flex-end;

}
.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 21px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  text-align: center;
  background-color: #FFFFFF;
  padding: 20px 16px;
  margin: 0;
  display: block;
  flex-wrap: wrap;

}
.navigation-link-index{
  font-family: "PT Sans", sans-serif;
  line-height: 21px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  text-align: center;
  padding: 20px 16px;
  flex-wrap: wrap;
  position: relative;
  display: inline-block;
  margin: 0;
}
.navigation-link-index:after{
  content: " ";
  background: #756257;
  width:65px;
  height: 2px;
  bottom: -5px;
  right: 15px;
  position: absolute;
}
.navigation-link-catalog{
  font-family: "PT Sans", sans-serif;
  line-height: 21px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  text-align: center;
  padding: 20px 16px;
  flex-wrap: wrap;
  padding-left: 20px;
  position: relative;
  display: inline-block;
}
.navigation-link-catalog:after{
  content: " ";
  background: #756257;
  width: 85px;
  height: 2px;
  bottom: -5px;
  right: 15px;
  position: absolute;
}
.logo-header{
  margin-top: -20px;
  position: relative;
}
.hero-image {
  display: block;
}
.navigation-user{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap:10px;
}
.user-item{
  box-sizing:border-box;
}
.search-link {
  background-image: url(../images/logo-search.svg);
  background-repeat: no-repeat;
  display: block;
  min-width: 44px;
  min-height: 64px;
  background-position: center;
}
.heart-link {
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  display: block;
  min-width: 44px;
  min-height: 64px;
  background-position: center;
  position: relative;

}
.user-item-botton{
  margin: 14px 0;

}
.user-link-botton {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  border-color: #756157;
  text-decoration: none;
  padding: 8px 34px;
  border-radius: 4px;

}

.heart-number{
  display: flex;
  background-color: #7DB54F;
  border-radius: 10px;
  position: absolute;
  width: 20px;
  height: 20px;
  top:11px;
  left:20px;
  text-decoration: none;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*main*/
.main-index {
  background-color: #FFFFFF;
}
.main-index {
  color: #242424;
}
.reasons {
  font-family: "PT Sans";
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.hero {
  background-image: url(../images/index-backgroud-white.svg), url(../images/index-background.jpg);
  background-position: left bottom, left top;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-color: #B0C4DE;
  padding: 51px 371px 82px;

}
/*приемущества*/
.advantages{
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.advantages-first {
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
  width: 1200px;
}
.advantages-item-first {
  text-align: center;
  width: 230px;
  padding: 85px;
}
.advantages-first .advantages-title:after{
  content: " ";
  background: #FFFFFF;
  width: 60px;
  height: 2px;
  bottom: -30px;
  right:60px;
  position: absolute;
}
.image-house{
  object-fit: cover;
  height: auto;
  max-width: 100%;

}
.image-bridge{
  object-fit: cover;
  height: auto;
  max-width: 100%;

}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;

}
.advantages-item {
  text-align: center;
  width: 230px;
  padding: 113px 85px;
}
.advantages-discription{
  margin-top: 30px;
}
.advantages-item:nth-child(odd) {
  background-color: #83B3D31F;
}
.advantages-item:nth-child(even) {
  background-color: #FFFFFF;
}
.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  width: 175px;
}
.advantages-title:after{
  content: " ";
  background: #0000004D;
  width: 60px;
  height: 2px;
  bottom: -30px;
  right:60px;
  position: absolute;
}
.advantages-item-fifth {
  text-align: center;
  width: 230px;
  padding: 85px;
}
.advantages-fifth {
  background-color: #82B3D3;
  color: #FFFFFF;
  display: flex;
  width: 1200px;
  flex-direction: row-reverse;
}
.advantages-fifth .advantages-title::after{
  content: " ";
  background: #FFFFFF;
  width: 60px;
  height: 2px;
  bottom: -30px;
  right:60px;
  position: absolute;
}

/*приглашение*/
.invitation {
  background-color: #FFFFFF;
  text-align: center;
}

.argument {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.invitation-discription {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  line-height: 26px;
}

/*сервис*/
.service-list {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
}

.service-item {
  text-align: center;
  width: 230px;
  padding: 112px 85px 81px 85px;

}

.service-item:nth-child(odd) {
  background-color: #83B3D31F;
}

.service-item:nth-child(even) {
  background-color: #FFFFFF;
}

.service-item:nth-of-type(1) {
  background-image: url(../images/logo-home.svg);
  background-repeat: no-repeat;
  background-position: center 81px;
}

.service-item:nth-of-type(2) {
  background-image: url(../images/logo-food.svg);
  background-repeat: no-repeat;
  background-position: center 82px;
}

.service-item:nth-of-type(3) {
  background-image: url(../images/logo-box.svg);
  background-repeat: no-repeat;
  background-position: center 79px;
}

.service-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  padding-top: 30px;
}

.service-discription {
  padding-top: 30px;
}

/*бронирование*/
.booking-container {
  text-align: center;
  margin-bottom: 104px;
  font-size: 22px;
  line-height: 26px;
}

.booking-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 96px;
}

.buttom {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  display: block;
  width: 376px;
  margin: 0 auto;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 50px;
  padding-right: 50px;
}
/*рассылка*/
.subscribe {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  background-image: url(../images/backgroud-subscribe.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #82B3D3;
  color: #FFFFFF;
  margin-top: 96px;
  line-height: 26px;
  font-size: 22px;

}
.subscribe-special {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  background-color: #FFFFFF;
  margin-top: 96px;
  line-height: 26px;
  font-size: 22px;

}

.email-section-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 96px;
}

.email-section-form {
  width: 684px;
  display: flex;
  margin: 0 auto;
  padding-bottom: 96px;

}
.email-section-label {
  width: 452px;
}
.subscribe-btn {
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 232px;
  border-color: #82B3D3;
  text-transform: uppercase;
  border-style: solid;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-style: solid;

}
.email-text{
  width: 452px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-style: solid;
  border-color: #F2F2F2;
  background-color: #F2F2F2;
  padding: 14px 20px;


}
/*footer*/
.page-footer {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 1200px;
  padding: 40px 70px 30px;
  margin: 0 auto;
}
.page-footer-container {
  width: 1060px;
  display: flex;
  margin: 0;
  justify-content: space-around;
}
.social-list {
  list-style: none;
  display: flex;
  box-sizing: border-box;
  width:  145px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.vk-link {
  background-image: url(../images/logo-vk.svg);
  background-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 40px;
  background-position: center;
}
.telegram-link {
  background-image: url(../images/logo-telegram.svg);
  background-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 40px;
  background-position: center;
}
.youtube-link {
  background-image: url(../images/logo-youtube.svg);
  background-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 40px;
  background-position: center;
}
.footer-contacts{
  display: block;
  width: 720px;
  text-align: center;
  flex-wrap: wrap;
}
.footer-phone-link {
  display: block;
  width: 331px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}
.footer-logo-html{
  width: 115px;
}
/*catalog*/
.main-inner {
  background-color: #FFFFFF;
  width: 1200px;
}
.inner-header{
  width: 1060px;
  margin-left: 0px;
}
.filter-inner-section{
  margin-left: 80px;
  margin-right: 70px;
}
.section-inner {
  background-image: url(../images/catalog/background-catalog.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #82B3D3;
  color:#FFFFFF;
  margin-top: -65px;
}
.main-inner-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin-left: 85px;
  margin-top: 35px;
  padding-top: 30px;
}
.inner-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: 0px;
}
.inner-header{
  margin-left: 45px;
  margin-top: -50px;
  margin-bottom: 45px;
}
.inner-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF;
  padding-top: 0;
  margin-left: 10px;
}
.inner-link-home{
  background-image: url(../images/catalog/filter_logo_home.svg);
  background-repeat: no-repeat;
  display: block;
  width: 13px;
  height: 15px;
  padding:0px, 0px, 2px, 0px;
  margin-top: 4px;
}
.inner-item-arrow{
  background-image: url(../images/catalog/filter_arrow.svg);
  background-repeat: no-repeat;
  display: block;
  width: 8px;
  height: 19px;
  padding: 5px, 7px, 5px, 7px;
  margin-top: 5px;
  margin-left: 10px;
}
/*стилизация фильта каталога*/
.filter-inner-section{
  width: 1060px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.catalog-filter-group{
  width: 150px;
  padding-left: 0px;
  border-style: none;
}
.catalog-filter-list {
  list-style: none;
  padding-left: 0px;
}
.filter-price{
  width: 288px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.control-label{
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.conrtol{
  position: absolute;
  display: block;
}
.control-mark{
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 4px;

}
.range-price{
  width: 143px;
}
.button-price{
  width: 191px;
  display: flex;
  flex-direction: column;
  margin-top: 56px;
}

.range-scale{
  width: 287px;
  position: relative;
  background-color: #756257;
  line-height: 1px;

}
.range-bar{
  position: absolute;
  line-height: 1px;
  background-color: #FFFFFF;
}
.range-toggle{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;

}
.button-reset{
  margin-top: 32px;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 57px;
  padding-right: 57px;
  text-transform: uppercase;
}
.button-apply{
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 57px;
  padding-right: 57px;
  text-transform: uppercase;
}
.catalog-button-list {
  list-style: none;
}
.catalog-filter-item{
  margin: 0;
  margin-bottom: 16px;
  border-radius: 4px;
}
.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
  margin-left:5px;
  padding: 0;
}
/*каталог*/
.catalog{
  color:#000000;
  background-color: #FFFFFF;

}
.hotels-catalog{
  width: 1060px;
  display: flex;
  justify-content: space-between;
  margin-left: 85px;
}
.select-control{
  width: 292px;
  height: 49px;
  padding: 14px, 20px, 14px, 20px;
  border-radius: 2px;
}
.select{
  width: 522px;
  display: flex;
  margin-top: 50px;

}
.hotel-card{
  width: 1060px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 80px;

}
.hotel-card-link{
  outline: 1px solid #f2f2f2;
  padding: 20px;
  border-radius: 4px;

}
.hotels-catalog-title{
  text-transform: uppercase;
  margin-top: 56px;
}
.catalog-button-list{
  width: 160px;
  display: flex;
  margin-top: 0px;
  justify-content: space-between;
}
.catalog-button-tile {
  background-image: url(../images/catalog/logo-view.svg);
  background-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 48px;
}
.button-card {
  background-image: url(../images/catalog/logo-card.svg);
  background-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 48px;
}
.button-list {
  background-image: url(../images/catalog/logo-ul.svg);
  background-repeat: no-repeat;
  display: block;
  width: 48px;
  height: 48px;
}
.control {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #FFFFFF;
}

.button-apply {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-style: solid;
  border-color:#82B3D3;
}
.button-reset {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: transparent;
  border-style: solid;
  border-color: transparent;
}
/*стилизация карт отелей*/
.hotels-catalog-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}
.select-control {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
.hotel-card {
  list-style: none;
  margin-top: 40px;
  margin-left: 40px;
}
.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.hotel-card-text{
  width: 300px;
  display: flex;
  justify-content:space-between;
}
.raiting{
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.hotel-rating{
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 9px 26px 8px 26px;
  line-height: 20px;

}
.card-buttons{
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hotel-card-discription {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 26px 8px 26px;
}

.hotel-card-button-favorites {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 8px 20px;
  border-radius: 4px;
  border-color: #82B3D3;
  border-style: solid;
}

.hotel-card-button-favorite-active {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #7DB54F;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 4px;
  border-color: #7DB54F;
  border-style: solid;
}

.hotel-stars-four {
  background-image: url(../images/catalog/star-four.svg);
  background-repeat: no-repeat;
  display: block;
  width: 140px;
  height: 37px;
}

.hotel-stars-three {
  background-image: url(../images/catalog/star-four.svg);
  background-repeat: no-repeat;
  display: block;
  width: 70px;
  height: 37px;
}

.hotel-stars-two {
  background-image: url(../images/catalog/star-four.svg);
  background-repeat: no-repeat;
  display: block;
  width: 45px;
  height: 37px;
}
/*пагинация*/
.pagination{
  width: 1060px;
  padding-left: 40px;
  position: relative;
  display: inline-block;


}
.pagination::before{
  content: " ";
  background: #E6E6E6;
  width: 1060px;
  height: 1px;
  top: -30px;
  bottom: 40px;
  position:absolute;
  margin-left: 50px;


}
.pagination-list{
  width: 400px;
  display: flex;
  list-style: none;
  margin-top: 60px;
  gap: 8px;
}
.pagination-item{
  width: 60px;
}
.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 14px 23px 14px 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 4px;
  text-decoration: none;
}
.pagination-text{
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 17px;
}
.pagination-link-active {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  background-color: #F2F2F2;
  padding: 14px 23px 14px 23px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 4px;

}

.pagination {
  list-style: none;

}
